<section>
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input formControlName="email"
      matInput 
      placeholder="Your email"
      name="email"
      >
      <!-- <mat-error *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">Field must not be empty</mat-error> -->
      <mat-error *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long">
        <input formControlName="password"
        matInput 
        placeholder="Your password" 
        name="password"
        >
        <mat-hint align="end">0 / 6</mat-hint>
        <mat-error>Has to be at least 6 characters long</mat-error>
      </mat-form-field>
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
