a{
    text-decoration: none;
    color: #fff;
}
a:hover,
a:active{
    color: lightgray;
}

.navigations-items{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption{
    display: inline-block;
    padding-left: 5px;
}