<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button (click)="toggleSidenav()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a [routerLink]="[ '/']">
            NG Fitness
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxHide.xs fxLayout="row" fxLayoutGap="10px" class="navigations-items">
            <li *ngIf="!isAuth">
                <a [routerLink]="['/signup']">Signup</a>
            </li>
            <li *ngIf="!isAuth">
                <a [routerLink]="['/login']">Login</a>
            </li>
            <li *ngIf="isAuth">
                <a [routerLink]="['/training']">Training</a>
            </li>
            <li *ngIf="isAuth">
                <a (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>