<section class="new-training" fxLayout="row" fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.sm="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>
      <mat-card-content  *ngIf="!isLoading && exercises"  fxLayoutAlign="center">
          <mat-form-field>
            <mat-label>New exercise</mat-label>
            <mat-select ngModel name="exercise" required>
              <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                {{exercise.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions  *ngIf="!isLoading"  fxLayoutAlign="center">
        <button *ngIf="exercises" type="submit" mat-button [disabled]="f.invalid">Start</button>
        <button *ngIf="!exercises" mat-button type="button" (click)="fetchExercises()">Fetch again</button>
      </mat-card-actions>
      <mat-card-content  *ngIf="isLoading" fxLayoutAlign="center">
        <mat-spinner></mat-spinner>
      </mat-card-content>
    </mat-card>
  </form>
</section>
