<mat-tab-group *ngIf="!ongoingTraining">
  <mat-tab label="New exercise">
    <app-new-trainig></app-new-trainig>
  </mat-tab>
  <mat-tab label="Past exercises">
    <app-past-trainigs></app-past-trainigs>
  </mat-tab>
</mat-tab-group>
<app-current-trainig *ngIf="ongoingTraining"></app-current-trainig>